.top_categories {
  padding: 30px 110px;
}
.top_categories > h2 {
  margin-bottom: 30px;
  text-align: center;
}
.grid {
  display: grid;
  gap: 15px 0;
  grid-template-columns: 315px 315px 315px 315px;
  grid-template-rows: 315px 315px;
  justify-content: space-between;
}
.grid_item {
  position: relative;
}
.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.category_name {
  background-color: rgba(14, 14, 14, 0.5);
  bottom: 0;
  color: white;
  /* filter: blur(8px); */
  padding: 10px;
  position: absolute;
  margin: auto;
  text-align: center;
  width: 100%;
  z-index: 1;
}
